/****************************************TAG SELECTORS************************************/
body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #435560;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

h1 {
    margin: 1.875rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 6.25rem;
    color: #146356;
    /* line-height: 2; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #146356;
}
h3 {
    color: #1f917e;
}
a {
    color: #1f917e;
}

hr {
    width: 3%;
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(180, 180, 180);
    border-width: 0.3125rem;
}

/****************************************CLASS SELECTORS************************************/

.top-container {
    padding-top: 9.375rem;
    position: relative;
    background-color: #F2FFE9;
    margin: 0;
}
.top-cloud {
    position: absolute;
    top: 4.375rem;
    right: 18.75rem;
}
.bottom-cloud {
    position: absolute;
    left: 15.625rem;
    bottom: 18.75rem;
}
.beach {
    margin: 12.5rem auto 0 auto;
}
/* .middle-container {

} */

.bottom-container {
    padding: 1.875rem;
    padding-bottom: 0.3125rem;    
    background-color: #6db8ab;
    
}
.footer-link{
    color: #026151;
    font-size: 1.25rem;
    margin: 1.875rem 2.5rem;
    text-decoration: none;
}
.skill-row {
    width: 50%;
    text-align: left;
    margin: 6.25rem auto;
    line-height: 2;
}
.html-img {
    width: 25%;
    float: left;
    margin-right: 1.875rem;
}
.css-img {
    width: 25%;
    float: right;
    margin-left: 1.875rem;
}
.js-img {
    width: 25%;
    float: left;
    margin-left: 1.875rem;
}
.h2-style    {
    font-size: 2.5rem;
}
.p-style {
    width: 35%;
    margin: auto;
    line-height: 2;
    
}
.profile-img {
    width: 10%;
    margin: 5rem auto 0 auto;
}
.contact-me {
    margin: 12.5rem auto 6.25rem auto;
}
.skills {
    margin: 12.5rem auto;
}
.profile {
    margin: 6.25rem auto 12.5rem auto;
}
.p-footer {
    color:white; 
    font-size: 0.9375rem;
    padding-top: 1.875rem;
    margin: 0.0625rem auto;
}

.btn {
    background: #1f917e;
    background-image: -webkit-linear-gradient(top, #1f917e, #146356);
    background-image: -moz-linear-gradient(top, #1f917e, #146356);
    background-image: -ms-linear-gradient(top, #1f917e, #146356);
    background-image: -o-linear-gradient(top, #1f917e, #146356);
    background-image: linear-gradient(to bottom, #1f917e, #146356);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.25rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #146356;
    text-decoration: none;
  }
  

/****************************************ID SELECTORS************************************/